<style>
.images {
  max-width: 50%;
  max-height: 50%;
}
</style>
<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>¿Quienes somos?</h2>
            <p class="lead JUSTIFY"> Somos un grupo multidisciplinario enfocado en la promoción de la salud mental y la intervención terapeútica
                <br> Trabajamos bajo diferentes enfoques teóricos pues estamos convencidos de que cada persona es única y las
                diferencias individuales
                <br>requieren diferentes propuestas de intervención psicológica, por ello trabajamos en conjunto para brindarte
                la mejor atención. </p>
        </div>
        <div class="center wow fadeInDown">
            <h2>Misión</h2>
            <p class="lead JUSTIFY">A partir de la interacción con personas y grupos, el objetivo de CAPAC es poner en práctica los conocimientos
                y técnicas de la psicología, así como de las disciplinas sociales y humanas, al servicio de la población
                 con la finalidad de aportar procesos que colaboren en el autoconocimiento, así como la mejora de su bienestar.</p>
        </div>
        <div class="center wow fadeInDown">
            <h2>Visión</h2>
            <p class="lead JUSTIFY">CAPAC será un centro líder y reconocido por su producción de actos formativos y modelos de atención psicoterapéutica
                y psicosocial, en el norte de la ciudad , posicionándose como una Asociación Civil, seria y profesional en
                el campo del bienestar de las personas.
                <br>
                <br>
                <strong>A largo plazo;</strong> CAPAC como centro de producción de conocimiento y técnicas aplicadas para buscar
                y mejorar el bienestar de las personas en todo el país.
            </p>
        </div>
        <div class="center wow fadeInDown">
          <h2>Nosotras</h2>
        </div>
        <div class="container">
          <div class="row">
            {{#each profiles}}
            <div class=" apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="{{img}}" alt="{{name}}" style="height:300px;">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3>
                      <a href="#" data-toggle="modal" data-target="#{{id}}">{{name}}</a>
                    </h3>
                    <a class="preview" href="#" data-toggle="modal" data-target="#{{id}}">
                      <i class="fa fa-eye"></i>Ver más
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div id="{{id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p style="text-align: center; ">
                      <img class="images" src="{{img}}" alt="{{name}}">
                    </p>
                    <h2 style="text-align: center;">{{ name }}</h2>
                    <p style="text-align: center;">
                      {{ titulo }}
                    </p>
                    {{{ contact }}}
                    <p style="tetx-align: center;">
                      <strong>Formación Académica:</strong>
                    </p>
                    {{{ formacionAcademica }}}
                    <p style="tetx-align: center;">
                      <strong>Perfil y Especialidad:</strong>
                    </p>
                    {{{ perfil }}}
                    <p style="tetx-align: center;">
                      <strong>Cursos y Talleres:</strong>
                    </p>
                    {{{ talleres }}}
                    <p><strong>Costo por sesión: </strong>${{ costoSesion }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="get-started center wow fadeInDown">
            <h2>Alianza CAPAC</h2>
            <p class="lead">Nuestro compromiso es brindar la mejor atención, por ello nuestro modelo de trabajo incluye establecer alianzas
                <br> con otros profesionales de la salud, para brindar a cada persona una atención especializada y acorde a sus
                necesidades.
            </p>
            <div class="request">
                <h4>
                    <a href="/contacto">¡Contactenos!</a>
                </h4>
            </div>
        </div>
        <!--/.get-started-->
    </div>
    <!--/.container-->
</section>
